
    <div id="page-inner">

        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    Chart <small>Show up your stats</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->

        <div class="row">


            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bar Chart
                    </div>
                    <div class="panel-body">
                        <canvas id="morris-bar-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Area Chart
                    </div>
                    <div class="panel-body">
                        <div id="morris-area-chart"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /. ROW  -->
        <div class="row">

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Donut Chart
                    </div>
                    <div class="panel-body">
                        <canvas id="morris-line-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Line Chart
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
<!-- Morris Chart Js -->
    <script src="scalajs-client/target/scala-2.11/scalajsclient-jsdeps.js"></script>
    @playscalajs.html.scripts("scalajsClient")
    <script>
    example.ScalaJSExample().chartBar(document.getElementById('morris-bar-chart'))
    example.ScalaJSExample().chartLine(document.getElementById('morris-line-chart'));
</script>    <!-- Custom Js -->
